In [24]:
import pandas as pd
import os 
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
if os.getcwd().endswith("notebooks"):
    os.chdir("..")

In [26]:
print(os.getcwd())

/Users/santiagoaristizabal/Desktop/HackatonAi2026

In [27]:
path_consumos = "dataset/consumos_uptc.csv"
path_sedes = "dataset/sedes_uptc.csv"

df_consumos = pd.read_csv(path_consumos)
df_consumos

,reading_id,timestamp,sede,sede_id,energia_total_kwh,energia_comedor_kwh,energia_salones_kwh,energia_laboratorios_kwh,energia_auditorios_kwh,energia_oficinas_kwh,...,dia_nombre,mes,trimestre,año,periodo_academico,es_fin_semana,es_festivo,es_semana_parciales,es_semana_finales,co2_kg
0,1,2018-01-01 00:00:00,Chiquinquirá,UPTC_CHI,0.928,0.0452,0.1497,0.4334,0.0386,0.2613,...,Lunes,1,1,2018,vacaciones_fin,False,True,False,False,0.1877
1,2,2018-01-01 00:00:00,Duitama,UPTC_DUI,2.592,0.1129,0.2007,1.7993,0.0573,0.4217,...,Lunes,1,1,2018,vacaciones_fin,False,True,False,False,0.4490
2,3,2018-01-01 00:00:00,Sogamoso,UPTC_SOG,2.841,0.1395,0.2388,1.9638,NaN,0.4443,...,Lunes,1,1,2018,vacaciones_fin,False,True,False,False,0.6048
3,4,2018-01-01 00:00:00,Tunja,UPTC_TUN,1.505,0.0892,0.1091,0.9672,0.0364,0.3031,...,Lunes,1,1,2018,vacaciones_fin,False,True,False,False,0.2872
4,5,2018-01-01 01:00:00,Chiquinquirá,UPTC_CHI,0.917,0.0479,0.1432,0.4071,0.0418,0.2766,...,Lunes,1,1,2018,vacaciones_fin,False,True,False,False,0.1599
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275382,275383,2025-10-30 23:00:00,Tunja,UPTC_TUN,2.253,0.2312,0.1803,1.3621,0.0506,0.4286,...,Jueves,10,4,2025,semestre_2,False,False,False,False,0.5161
275383,275384,2025-10-31 00:00:00,Chiquinquirá,UPTC_CHI,1.273,0.1362,0.1948,0.5314,0.0551,0.3556,...,Viernes,10,4,2025,semestre_2,False,False,False,False,0.2223
275384,275385,2025-10-31 00:00:00,Duitama,UPTC_DUI,4.159,0.3442,0.3703,2.6320,0.0769,0.7352,...,Viernes,10,4,2025,semestre_2,False,False,False,False,0.7608
275385,275386,2025-10-31 00:00:00,Sogamoso,UPTC_SOG,5.063,0.3924,0.3327,3.5558,0.0821,0.6998,...,Viernes,10,4,2025,semestre_2,False,False,False,False,0.8754
275386,275387,2025-10-31 00:00:00,Tunja,UPTC_TUN,2.234,0.2303,0.1750,1.3323,0.0509,0.4452,...,Viernes,10,4,2025,semestre_2,False,False,False,False,0.4915

In [28]:
df_sedes = pd.read_csv(path_sedes)
df_sedes

,sede,sede_id,nombre_completo,ciudad,area_m2,num_estudiantes,num_empleados,num_edificios,tiene_residencias,tiene_laboratorios_pesados,altitud_msnm,temp_promedio_c,pct_comedores,pct_salones,pct_laboratorios,pct_auditorios,pct_oficinas
0,Tunja,UPTC_TUN,Sede Central Tunja,Tunja,85000,18000,1200,25,True,True,2820,13,0.12,0.25,0.30,0.08,0.25
1,Duitama,UPTC_DUI,Sede Duitama,Duitama,35000,5500,350,12,False,True,2530,15,0.10,0.28,0.32,0.07,0.23
2,Sogamoso,UPTC_SOG,Sede Sogamoso,Sogamoso,40000,6000,400,14,False,True,2570,14,0.10,0.26,0.35,0.06,0.23
3,Chiquinquirá,UPTC_CHI,Sede Chiquinquirá,Chiquinquirá,15000,2000,150,5,False,False,2580,14,0.08,0.35,0.20,0.10,0.27

In [29]:
df_consumos['timestamp'] = pd.to_datetime(df_consumos['timestamp'])

df_full = df_consumos.merge(df_sedes, on=['sede_id','sede'], how='left')
print(f"Dataset full {df_full.shape[1]}")

Dataset full 41

In [30]:
df_full.columns

Index(['reading_id', 'timestamp', 'sede', 'sede_id', 'energia_total_kwh',
       'energia_comedor_kwh', 'energia_salones_kwh',
       'energia_laboratorios_kwh', 'energia_auditorios_kwh',
       'energia_oficinas_kwh', 'potencia_total_kw', 'agua_litros',
       'temperatura_exterior_c', 'ocupacion_pct', 'hora', 'dia_semana',
       'dia_nombre', 'mes', 'trimestre', 'año', 'periodo_academico',
       'es_fin_semana', 'es_festivo', 'es_semana_parciales',
       'es_semana_finales', 'co2_kg', 'nombre_completo', 'ciudad', 'area_m2',
       'num_estudiantes', 'num_empleados', 'num_edificios',
       'tiene_residencias', 'tiene_laboratorios_pesados', 'altitud_msnm',
       'temp_promedio_c', 'pct_comedores', 'pct_salones', 'pct_laboratorios',
       'pct_auditorios', 'pct_oficinas'],
      dtype='str')

In [37]:
df_full

,reading_id,timestamp,sede,sede_id,energia_total_kwh,energia_comedor_kwh,energia_salones_kwh,energia_laboratorios_kwh,energia_auditorios_kwh,energia_oficinas_kwh,...,num_edificios,tiene_residencias,tiene_laboratorios_pesados,altitud_msnm,temp_promedio_c,pct_comedores,pct_salones,pct_laboratorios,pct_auditorios,pct_oficinas
0,1,2018-01-01 00:00:00,Chiquinquirá,UPTC_CHI,0.928,0.0452,0.1497,0.4334,0.0386,0.2613,...,5.0,False,False,2580.0,14.0,0.08,0.35,0.20,0.10,0.27
1,2,2018-01-01 00:00:00,Duitama,UPTC_DUI,2.592,0.1129,0.2007,1.7993,0.0573,0.4217,...,12.0,False,True,2530.0,15.0,0.10,0.28,0.32,0.07,0.23
2,3,2018-01-01 00:00:00,Sogamoso,UPTC_SOG,2.841,0.1395,0.2388,1.9638,NaN,0.4443,...,14.0,False,True,2570.0,14.0,0.10,0.26,0.35,0.06,0.23
3,4,2018-01-01 00:00:00,Tunja,UPTC_TUN,1.505,0.0892,0.1091,0.9672,0.0364,0.3031,...,25.0,True,True,2820.0,13.0,0.12,0.25,0.30,0.08,0.25
4,5,2018-01-01 01:00:00,Chiquinquirá,UPTC_CHI,0.917,0.0479,0.1432,0.4071,0.0418,0.2766,...,5.0,False,False,2580.0,14.0,0.08,0.35,0.20,0.10,0.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275382,275383,2025-10-30 23:00:00,Tunja,UPTC_TUN,2.253,0.2312,0.1803,1.3621,0.0506,0.4286,...,25.0,True,True,2820.0,13.0,0.12,0.25,0.30,0.08,0.25
275383,275384,2025-10-31 00:00:00,Chiquinquirá,UPTC_CHI,1.273,0.1362,0.1948,0.5314,0.0551,0.3556,...,5.0,False,False,2580.0,14.0,0.08,0.35,0.20,0.10,0.27
275384,275385,2025-10-31 00:00:00,Duitama,UPTC_DUI,4.159,0.3442,0.3703,2.6320,0.0769,0.7352,...,12.0,False,True,2530.0,15.0,0.10,0.28,0.32,0.07,0.23
275385,275386,2025-10-31 00:00:00,Sogamoso,UPTC_SOG,5.063,0.3924,0.3327,3.5558,0.0821,0.6998,...,14.0,False,True,2570.0,14.0,0.10,0.26,0.35,0.06,0.23
275386,275387,2025-10-31 00:00:00,Tunja,UPTC_TUN,2.234,0.2303,0.1750,1.3323,0.0509,0.4452,...,25.0,True,True,2820.0,13.0,0.12,0.25,0.30,0.08,0.25

In [38]:
# Ver missing values reales
missing_info = df_full.isnull().sum()
print("Columnas con datos faltantes:")
print(missing_info[missing_info > 0])

# Ver inconsistencias en periodo_academico (mencionado en el codebook)
print("\nValores únicos en periodo académico:")
print(df_full['periodo_academico'].unique())

Columnas con datos faltantes:
energia_comedor_kwh            8254
energia_auditorios_kwh        13618
agua_litros                   10982
temperatura_exterior_c        16385
ocupacion_pct                 32766
co2_kg                        13796
nombre_completo                 264
ciudad                          264
area_m2                         264
num_estudiantes                 264
num_empleados                   264
num_edificios                   264
tiene_residencias               264
tiene_laboratorios_pesados      264
altitud_msnm                    264
temp_promedio_c                 264
pct_comedores                   264
pct_salones                     264
pct_laboratorios                264
pct_auditorios                  264
pct_oficinas                    264
dtype: int64

Valores únicos en periodo académico:
<StringArray>
[  'vacaciones_fin',        'semestre1',       'SEMESTRE_1',
       'Semestre_1',       'vacaciones',       'semestre_1',
 'vacaciones_mitad',       'semestre_2']
Length: 8, dtype: str

In [ ]:
plt.figure(figsize=(10,6))
sns.boxplot(data=df_full, x='sede', y='energia_total_kwh')
plt.title('Distribución de Consumo Eléctrico por Sede (Detección de Outliers)')
plt.show()